name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    name: Build & Test
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: "${{ github.actor != 'renovate[bot]' && github.actor != 'mend[bot]' }}"

      - run: go build ./cmd/access-log-exporter
      - run: go test ./... -timeout 20s -race -covermode=atomic -coverprofile=coverage.out -coverpkg=./...
      - run: go test ./... -timeout 20s -run='^$' -bench=. -benchmem -count 3

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  goreleaser:
    runs-on: ubuntu-24.04
    name: Test goreleaser
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: "${{ github.actor != 'renovate[bot]' && github.actor != 'mend[bot]' }}"

      - uses: anchore/sbom-action/download-syft@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2

      - name: Write gpg sign key
        if: env.GPG_KEY != null
        run: echo "$GPG_KEY" > "$GPG_KEY_PATH"
        env:
          GPG_KEY_PATH: "${{ secrets.GPG_KEY_PATH }}"
          GPG_KEY: ${{ secrets.GPG_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: go build (with goreleaser)
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          # renovate: github=goreleaser/goreleaser
          version: v2.13.3
          args: release --snapshot
        env:
          GITHUB_TOKEN: ""
          GPG_KEY_PATH: ""

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dists
          path: dist/
  lint:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: "${{ github.actor != 'renovate[bot]' && github.actor != 'mend[bot]' }}"

      - run: go mod tidy -diff

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # renovate: github=golangci/golangci-lint
          version: v2.10.1
          args: "--max-same-issues=0"

  super-lint:
    name: super-lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@61abc07d755095a68f4987d1c2c3d1d64408f1f9 # v8.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MULTI_STATUS: false
          LINTER_RULES_PATH: .
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_BASH: true
          VALIDATE_BASH_EXEC: true
          VALIDATE_EDITORCONFIG: true
          VALIDATE_ENV: true
          # VALIDATE_GO_RELEASER: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_HTML: true
          VALIDATE_JSON: true
          VALIDATE_NATURAL_LANGUAGE: true
          # VALIDATE_MARKDOWN: false
          VALIDATE_RENOVATE: true
          VALIDATE_SHELL_SHFMT: true
          VALIDATE_XML: true
          VALIDATE_YAML: true
  publish:
    name: Publish package
    if: >-
      github.event_name == 'push'
      && startsWith(github.ref, 'refs/tags/v')
    needs:
      - build
      - lint
      - goreleaser
      - super-lint
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
      packages: write
      attestations: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: anchore/sbom-action/download-syft@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: GPG configuration
        run: |-
          echo "$GPG_KEY" > "$GPG_KEY_PATH"
          mkdir -p "$HOME/.gnupg"
          chmod 0700 "$HOME/.gnupg"
          echo "use-agent" > "$HOME/.gnupg/gpg.conf"
          echo "pinentry-mode loopback" >> "$HOME/.gnupg/gpg.conf"
          echo "allow-loopback-pinentry" > "$HOME/.gnupg/gpg-agent.conf"
          echo "max-cache-ttl 86400" >> "$HOME/.gnupg/gpg-agent.conf"
          echo "default-cache-ttl 86400" >> "$HOME/.gnupg/gpg-agent.conf"
          gpgconf --kill gpg-agent
          gpgconf --launch gpg-agent
          echo "$GPG_PASSPHRASE" | gpg --batch --yes --passphrase-fd 0 --import "$GPG_KEY_PATH"
          echo "1F34F95B4F30BC5B06E0D7CC3F619F17002790D8:6:" | gpg --import-ownertrust
        env:
          GPG_KEY_ID: ${{ vars.GPG_KEY_ID }}
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GPG_PASSPHRASE: ${{ secrets.NFPM_PASSPHRASE }}
          GPG_KEY_PATH: "${{ secrets.GPG_KEY_PATH }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run GoReleaser
        id: goreleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          # renovate: github=goreleaser/goreleaser
          version: v2.13.3
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}
          NFPM_ACCESS-LOG-EXPORTER_PASSPHRASE: ${{ secrets.NFPM_PASSPHRASE }}
          GPG_KEY_PATH: ${{ secrets.GPG_KEY_PATH }}

      - name: Release APT repository
        run: |
          set -x
          gh release download "${GITHUB_REF_NAME}" -p "*.deb" -D tmp
          pushd tmp
            apt-ftparchive packages . | tee Packages | xz > Packages.xz
            apt-ftparchive release . > Release
            gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --clearsign -o InRelease Release
            gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --armor --detach-sign --sign -o Release.gpg Release
            gh release upload "${GITHUB_REF_NAME}" InRelease Packages Packages.xz Release Release.gpg --clobber
          popd
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.NFPM_PASSPHRASE }}

      - name: Publish Release
        run: gh release edit "${GITHUB_REF_NAME}" --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # parse artifacts to the format required for image attestation
      # https://github.com/goreleaser/goreleaser/issues/4852#issuecomment-2122790132
      - run: |
          echo "digest=$(echo "$ARTIFACTS" | jq -r '[.[]|select(.type=="Docker Image")][0]|.extra.Digest')" | tee /dev/stderr >> "$GITHUB_OUTPUT"
          echo "name=$(echo "$ARTIFACTS" | jq -r '[.[]|select(.type=="Docker Image")][0]|.name|split(":")[0]')" | tee /dev/stderr >> "$GITHUB_OUTPUT"
        id: image_metadata
        env:
          ARTIFACTS: ${{steps.goreleaser.outputs.artifacts}}

      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-checksums: ./dist/checksums.txt

      # attest image
      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-digest: ${{steps.image_metadata.outputs.digest}}
          subject-name: ${{steps.image_metadata.outputs.name}}
          push-to-registry: true
